<section id="features" class="features overflow-hidden">
    <div class="container-fluid w-90 mx-auto py-5">
     <div class="row gy-4">
        <div  class="col-lg-3">
            <div class=" inner ">
                <div class="header d-flex align-items-center ">
                    <!-- <i class="fa-solid fa-medal fs-2"></i> -->
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="28" viewBox="0 0 36 34" fill="none">
                      <path
                        d="M19.5516 16.9058L22.2317 18.2026L21.6788 15.277L21.4098 13.8537L22.5533 12.8361L24.9834 10.6733L21.7606 10.2296L20.0616 9.99566L19.3207 8.62149L18.0004 6.17255L16.6801 8.62149L15.9392 9.99566L14.2402 10.2296L11.0174 10.6733L13.4475 12.8361L14.591 13.8537L14.322 15.277L13.7691 18.2026L16.4492 16.9058L18.0004 16.1553L19.5516 16.9058ZM11.9198 3.34448C13.7197 2.14189 15.8357 1.5 18.0004 1.5C20.9031 1.5 23.687 2.65308 25.7395 4.70557C27.792 6.75805 28.9451 9.54181 28.9451 12.4445C28.9451 14.6091 28.3032 16.725 27.1006 18.5249C25.898 20.3247 24.1887 21.7274 22.1888 22.5558C20.1889 23.3842 17.9883 23.6009 15.8652 23.1786C13.7421 22.7563 11.7919 21.714 10.2613 20.1833C8.73065 18.6527 7.68827 16.7026 7.26597 14.5796C6.84367 12.4566 7.06041 10.256 7.88878 8.2562C8.71716 6.25637 10.12 4.54708 11.9198 3.34448Z"
                        stroke="#12324B" stroke-width="3" />
                      <path d="M6.96011 18.791L2 25.8844L7.38679 27.4844L10.7291 31.9999L15.8492 24.6932" stroke="#12324B" stroke-width="3"
                        stroke-linecap="round" stroke-linejoin="round" />
                      <path d="M29.0395 18.791L33.9996 25.8844L28.6128 27.4844L25.2705 31.9999L20.1504 24.6932" stroke="#12324B"
                        stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                    <h3>Quality</h3>
                </div>
                <div class="body-text w-75">
                    <p>We consistently seek quality and sustainability across all levels of our business to deliver value to our clients .</p>

                </div>
            </div>
        </div>

        <div  class="col-lg-3 ">
            <div class=" inner ">
                <div class="header d-flex align-items-center jusify-content-center">
                    <i class="fa-solid fa-suitcase-rolling fs-2"></i>
                    <h3 class="ms-1">Professionalism</h3>
                </div>
                <div class="body-text w-95">
                    <p>The experienced execution team is accustomed to handling heavy workloads and overtime to ensure they are capable of assembling efficiently.
                    </p>

                </div>
            </div>
        </div>

        <div  class="col-lg-3 ">
            <div class=" inner ">
                <div class="header d-flex align-items-center jusify-content-center">
                    <i class="fa-regular fa-folder-closed fs-2"></i>
                     <h3 class="ms-2">Custom Order</h3>
                </div>
                <div class="body-text w-75">
                    <p>We have the capability to fulfill custom and special orders to meet our clients' quality and delivery specifications.

                    </p>

                </div>
            </div>
        </div>

        <div  class="col-lg-3 ">
            <div class=" inner ">
                <div class="header d-flex align-items-center jusify-content-center">
                    <i class="fa-solid fa-user-group fs-2"></i>
                    <h3 class="ms-2">Our Team</h3>
                </div>
                <div class="body-text w-70">
                    <p>Our future vision involves ongoing investment in talented and experienced individuals to foster innovation, creativity, and streamline the execution process.
                    </p>

                </div>
            </div>
        </div>
    </div>
</div>
</section>
